{%extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <h1 class>Database search</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">

            <form id="get-data" action='/db_request' method="GET">

                {{ form.hidden_tag() }}


                {% for field in form
                if field.widget.input_type != 'hidden' %}

                <p>
                    {{ field.label }}
                    {{ field }}

                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </p>

                {% endfor %}

                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                <button type= '' class="btn btn-danger" id="clear">Clear results</button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

<div class="container">
    <div class="row" id="response">
        

        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}
<script src="../static/home.js"></script>
{% endblock %}